@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

.fi-main-ctn{
    background-color: lightgray;
}

.fi-topbar{
    box-shadow: rgba(0, 0, 0, 0.35) 15px 5px 15px !important;
}


.fi-sidebar{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

